body{
    margin: 0;
    padding: 0;
}

.title{
    color: green;

}
.parent-section{
    display: flex;
    border: 0px solid gray;
    width: 60%;
    padding: 10px;
    margin: 0 auto; 
}
.right-side{
    padding: 10px;
    margin: 30px;
    
}
.photo img{
    width: 280px;

}
.explore-btn{
    padding: 15px 50px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: blueviolet;
}

.explore-btn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
  }
h1{
    font-size: 50px;
}    


  /* Secound Section Start */

.second-section {
    text-align: center;
    margin-top: 50px;
  }

  .all-mission {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    width: 90%;
    margin: 50px;
    
  }
  .mission{
    width: 350px;
    height: auto;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 18px;
    background-color: rgb(80, 216, 159);
    margin-left: 10%;
  }
  .vission{
    width: 350px;
    height: auto;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    background-color: rgb(219, 142, 219);
   
  }
  .goals{
    width: 350px;
    height: auto;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
    background-color: rgb(230, 19, 230);
    margin-right: 10%;
  }
  .mission-logo img {
    width: 40%;
    margin-right: 45%;

  }




  .footer-section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(15, 2, 2, 0.863);
    color: white;
    text-align: center;
    padding: 12px;
  }